.green{
background-color:#202020;
height: 100vh;
padding-right: 0px !important;
padding-left: 0px !important;
border-bottom: 10px solid;
border-color:#fff;
}
.greenParent{
background-color:#202020;
height: 100vh;
padding-right: 0px !important;
padding-left: 0px !important;
border-top: 10px solid;
border-bottom: 10px solid;
border-right: 10px solid;
border-left: 10px solid;
border-color:#fff;
}
.projectBorder{
border-top: 10px solid;
border-right: 10px solid;
border-left: 5px solid;
border-color: #fff;
}
.color{
padding-right: 0px !important;
padding-left: 0px !important;
}
.curve{
transition: all 1.0s cubic-bezier(0.75, 0.25, 0.18, 0.82)!important;
}
.curveTwo{
transition: all 1.2s cubic-bezier(0.75, 0.25, 0.25, 0.75)!important;
}
.projectImg{
border-bottom: 10px solid;
border-color: #fff;
height: 65vh;
width: 100%;
}
/* .zoom{
transform: scale(1.5)
} */
/* Media */

@media all and (max-width: 1690px) { 

}
@media all and (max-width: 1280px) { 
    
}
@media all and (max-width: 980px) { 
    
}
@media all and (max-width: 768px) { 

}
@media all and (max-width: 480px) { 
    
}
@media all and (max-width: 360px) { 
    .green{
        position: absolute;
    }
}
@media all and (max-width: 320px) { 
    .green{
        position: absolute;
    }  
}