.green{
background-color:#202020;
height: 100vh;
padding-right: 0px !important;
padding-left: 0px !important;
}
.greenTwo{
background-color:#202020;
height: 100vh;
margin-right: 0px !important;
margin-left: 0px !important;    
}
.color{
padding-right: 0px !important;
padding-left: 0px !important;
}
.curve{
transition: all 1.0s cubic-bezier(0.75, 0.25, 0.18, 0.82)
}
.curveTwo{
transition: all 1.2s cubic-bezier(0.75, 0.25, 0.25, 0.75)
}