.white {
height: 100%;
background-color: #ECE9E1;
padding: 100px;
}
.blue {
background-color: #585858;
height: 100vh;
/* background-color:#353F4F; */
padding: 0px;
}
.hat{
height: 100%;
width: 200px;
}
.me{
margin-top:40px;
margin-bottom:40px;
width: 270px;
height: 270px;
border-radius: 50%;
border: 3px solid #353F4F;
}
/* Media */
@media all and (max-width: 1690px) { 
    .white {
    padding: 70px;
    }
}
@media all and (max-width: 1280px) { 
    .white {
    padding: 70px;
    }
}
@media all and (max-width: 980px) { 
    .white {
    padding: 70px;
    }
}
@media all and (max-width: 768px) { 
    .white {
    padding: 70px;
    }
}
@media all and (max-width: 480px) { 
    .white {
    padding: 70px;
    }
}
@media all and (max-width: 360px) { 
    .white {
    padding: 30px;
    }
    .blue {
    height: 40vh;
    position: absolute;
    }    
}
@media all and (max-width: 320px) { 
    .white {
    padding: 10px;
    }
    .blue {
    height: 40vh;
    position: absolute;
    }    
}