.header { 
background-color: #202020;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100vh;
color: #fff;
}
.headerHat{
margin-top: 250px;
}