.header { 
background-image: url("https://rebrand.ly/mom_background");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: #fff;
}
/* .fontBackG{
width: 70%;
margin-bottom: 20px; 
background-color: rgba(0, 194, 203, .8);
margin:auto;

} */
.divMiddle{
position: relative;
top: 50%;
transform: translateY(-50%);
}
.River{
margin-left: auto;
margin-right: auto;
height: 60vh;
}
.grad{
height: 100vh;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.73+28,0+100 */
background: -moz-linear-gradient(left, rgba(0,0,0,0.73) 0%, rgba(0,0,0,0.73) 28%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,0,0,0.73) 0%,rgba(0,0,0,0.73) 28%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0,0,0,0.73) 0%,rgba(0,0,0,0.73) 28%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

/* Media Queries */

/* @media all and (max-width: 1690px) { 
    .River{
    height: 600px;
    }
}
@media all and (max-width: 1280px) { 
    .River{
    height: 470px;
    }    
}
@media all and (max-width: 980px) { 
    .River{
    height: 380px;
    }
}
@media all and (max-width: 768px) { 
    .River{
    height: 380px;
    }
}
@media all and (max-width: 480px) { 
    .River{
    height: 350px;
    }
}
@media all and (max-width: 280px) { 
    .River{
    height: 350px;
    }
} */
