footer { 
/* background-color: #5bc77c; */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c2cb+0,00c2cb+46,00a4cb+100 */
background: rgb(0,194,203); /* Old browsers */
background: -moz-linear-gradient(left, rgba(0,194,203,1) 0%, rgba(0,194,203,1) 46%, rgba(0,164,203,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,194,203,1) 0%,rgba(0,194,203,1) 46%,rgba(0,164,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0,194,203,1) 0%,rgba(0,194,203,1) 46%,rgba(0,164,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c2cb', endColorstr='#00a4cb',GradientType=1 ); /* IE6-9 */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 30vh;
color: #fff;
}
.fishFooter{
margin-top: 300px;
}
.fishFooter {
animation: fishFooter-spin infinite 20s linear;
}
.noMargin{
margin-left: 0px !important;
margin-right: 0px !important;
}
.middleDiv{
margin-top:10vh;
}

@keyframes fishFooter-spin {
    0% {
        transform: scale(0.1);
        opacity: 0;
      }
      60% {
        transform: scale(1.2);
        opacity: 1;
      }
      100% {
        transform: scale(1);
      }
}