a {
text-decoration: none !important;
}
h1{
color: #fff;
font-family: 'Alfa Slab One', cursive;
font-size: 80px !important;
margin-top: 10px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c2cb+0,00c2cb+46,00a4cb+100 */
background: rgb(0,194,203); /* Old browsers */
background: -moz-linear-gradient(left, rgba(0,194,203,1) 0%, rgba(0,194,203,1) 46%, rgba(0,164,203,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,194,203,1) 0%,rgba(0,194,203,1) 46%,rgba(0,164,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0,194,203,1) 0%,rgba(0,194,203,1) 46%,rgba(0,164,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c2cb', endColorstr='#00a4cb',GradientType=1 ); /* IE6-9 */  
}
h2{
color: #fff;
font-family: 'Alfa Slab One', cursive;
font-size: 55px !important;
margin-top: 10px;
text-decoration: none !important;
}
.h2Backgrounds{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c2cb+0,00c2cb+46,00a4cb+100 */
background: rgb(0,194,203); /* Old browsers */
background: -moz-linear-gradient(left, rgba(0,194,203,1) 0%, rgba(0,194,203,1) 46%, rgba(0,164,203,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,194,203,1) 0%,rgba(0,194,203,1) 46%,rgba(0,164,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0,194,203,1) 0%,rgba(0,194,203,1) 46%,rgba(0,164,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c2cb', endColorstr='#00a4cb',GradientType=1 ); /* IE6-9 */
margin-left:25%;
margin-right:25%;   
}
h3{
color: rgb(90, 90, 90);
font-family: 'Alfa Slab One', cursive;
line-height: 1.5em;
font-size: 25px !important;
margin-top: 30px;
margin-bottom: 20px;
}
h4{
font-family: 'Roboto', sans-serif;
font-weight: 50px;
line-height: 1.7em;
font-size: 18px !important;
margin-top: 30px;
margin-bottom: 50px;
}
h5{
font-family: 'Roboto', sans-serif;
font-size: 18px !important;    
}
/* Media */
@media all and (max-width: 980px) { 
    h1{
    font-size: 60px !important;
    margin-top: 10px;
    }
}
@media all and (max-width: 768px) { 
    h1{
    font-size: 60px !important;
    margin-top: 10px;
    }  
}
@media all and (max-width: 480px) { 
    h1{
    font-size: 40px !important;  
    }
    h2{
    font-size: 40px !important;
    }
    .h2Backgrounds{
    margin-left:20%;
    margin-right:20%;   
    }
}
@media all and (max-width: 360px) { 
    h1{
    font-size: 45px !important;  
    } 
    h2{
    font-size: 35px !important;
    }
    h5{
    font-size: 14px !important;    
    }
    .h2Backgrounds{
    margin-left:20%;
    margin-right:20%;   
    }  
}
@media all and (max-width: 320px) { 
    h1{
    font-size: 45px !important;  
    }
    h2{
    font-size: 35px !important;
    } 
    h5{
    font-size: 13px !important;    
    }
    .h2Backgrounds{
    margin-left:20%;
    margin-right:20%;   
    }     
}