.projectImage{
width: 100vw;
}
.description{
height: 65vh;
background-color: #585858;
padding: 40px;
margin-bottom: 15px;
}
.gitHubBack{
height: 65vh;
background-color: #00C2CB;
padding: 40px;
margin-bottom: 15px;
}
.bullets{
height: 65vh;
padding: 40px;
background-color: #ECE9E1;    
}
.fab{
color: #fff;
font-size: 200px;
text-decoration: none !important;
}
.noPadding{
padding-left: 0px !important;
padding-right: 0px !important;
}
