.projectImage{
height: 100vh;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.description{
height: 65vh;
background-color: #585858;
padding: 40px;
margin-bottom: 15px;
}
.bullets{
height: 65vh;
background-color: #ECE9E1;    
}
.noPadding{
padding-left: 0px !important;
padding-right: 0px !important;
}
