.projectImage{
width: 100vw;
}
.description{
height: 65vh;
background-color: #585858;
padding: 40px;
margin-bottom: 10px;
border-right: 5px solid;
border-left: 10px solid;
border-color: #fff;
}
.descriptionTwo{
height: 65vh;
background-color:#fff;
margin-bottom: 10px;
overflow: hidden;
position: relative;
border-right: 10px solid;
border-left: 5px solid;
border-color: #fff;
}
/* .descriptionTwo img{
height: 100vh;
} */
.gitHubBack{
height: 65vh;
background-color: #202020;
padding: 40px;
margin-bottom: 5px;
border-right: 5px solid;
border-left: 10px solid;
border-color: #fff;
}
.bullets{
height: 65vh;
padding: 40px;
border-left: 5px solid;
border-right: 10px solid;
border-color: #fff;
background-color: #ECE9E1;    
}
.fab{
color:#fff;
font-size: 200px;
text-decoration: none !important;
}
.noPadding{
padding-left: 0px !important;
padding-right: 0px !important;
}
.littlePadding{
padding-left: 10px !important;
padding-right: 10px !important;    
}
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,565656+60 */
